extends ./layouts/main.pug

block content
    .video__player
        video(src=`/${video.fileUrl}`)
    .video__info
        a(href=routes.editVideo) Edit Video
        h3=video.title
        p=video.views
        p=video.description